<div class="col-xs-12 col-sm-6 col-lg-4 pt-2 filtr-item"
  data-category='all, {{ with .categories }}{{ delimit . ","}}{{ end }}'
>
  <a class="text-decoration-none" {{ if .url }}href="{{ .url }}" title="{{ .name }}" target="_blank" rel="noopener"{{ end }}>
    <div class="card">
      <div class="card-head d-flex">
        {{ if .logo }}
          {{ $logoImage := partial "helpers/get-image.html" .logo }}
          {{ if $logoImage.url }}
          {{/*  svg don't support "Fit" operation   */}}
          {{ $src := $logoImage.url }}{{ $resized := false }}{{ $fit := false }}
          {{ with $logoImage.resource }}
          {{ if ne .MediaType.SubType "svg" }}
          {{ $fit = .Fit "24x24" }}
          {{ $src = $fit.RelPermalink }}{{ $resized = true }}
          {{ end }}
          {{ end }}

          <img class="card-img-xs" src="{{ $src }}" alt="{{ .name }}" {{ if $resized }}width="{{ $fit.Width }}" height="{{ $fit.Height }}"{{ end }} />
          <h5 class="card-title">{{ .name }}</h5>
          {{ end }}
        {{ else if .icon }}
          {{ $iconName := .icon }}
          <h5 class="card-title"><span class="{{ $iconName }}"> {{ .name }}</span></h5>
        {{ else }}
          <h5 class="card-title">{{ .name }}</h5>
        {{ end }}
      </div>
      <div class="card-body text-justify pt-1 pb-1">
        <p class="card-text">{{ .summary | markdownify }}</p>
      </div>
    </div>
  </a>
</div>
